:root {
    --best-color: aliceblue;
}

html {
    height: 100%;
}

body{
    height: 100vh;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(0, 11, 42), rgb(16, 3, 54));    
    font-family:'clockicons';
    color: red;
}

@import url(//db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

@font-face {
    font-family: "clockicons"; src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot"); 
    src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons") format("svg"); 
}

main {
    height: 90%;
    width: 50%;
    position: relative;
    margin: auto;
}

    /*Configurações da area principal de interação*/
    .borda {
        width: 60%;
        margin: auto;
        margin-top: 160px;
        padding: 25px;
        background-color: #000;
        border: 1px solid var(--best-color);
        border-radius: 29px;
    }

    header {
        width: 100%;
        text-align: center;
    }

    header  p {
        padding: 0;
        margin: auto;
        color: var(--text-color);
        font-size: 120px;
    }

        p.controls button {
            border: none;
            cursor: pointer;
            background-color: black;
            font-family: 'poppins', sans-serif;
            outline: none;
            border-radius: 15px;
            align-items: flex-start;
            padding: 10px;
        }
        p.controls img {
            margin-bottom: -8px;
            position: relative;
        }
        p.controls span {
            color: aliceblue;
            position: relative;
            margin: 5px 5px 20px 8px;
        }

    /*mudança no estilo qundo o timer é pausado*/
    /*style change when the timer is paused*/
    .pausado {
        color: var(--best-color) ;
    }
    
