<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      href="../../public/images/clock.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/responsive.css" />
    <title>Timer</title>
  </head>
  <body>
    <main>
      <div class="borda">
        <header>
          <p class="clock">00:00:00</p>
          <p class="controls">
            <button class="start" title="iniciar o timer">
              <img
                src="../../public/images/player-play.svg"
                alt="iniciar o timer"
              /><span class="tamanho_iniciar">iniciar</span>
            </button>
            <button class="pause" title="pausar o timer">
              <img
                src="../../public/images/player-pause.svg"
                alt="pausar o timer"
              /><span>pausar</span>
            </button>
            <button class="zero" title="zerar o timer">
              <img
                src="../../public/images/player-stop.svg"
                alt="zerar o timer"
              /><span>zerar</span>
            </button>
          </p>
        </header>
      </div>
    </main>
    <script src="../../public/js/main.js"></script>
  </body>
</html>
